* {
	margin: 0;
	padding: 0;
}
.wrapper {		
	margin: 0 10px;
}


/* Header */


header {
    
    background: url("../images/header.jpg") center;    
    background-size: cover;
}

.HeaderMenu {
	background-color:rgba(47, 34, 164, 0.49);
	opacity: 0.88;

}
h1 {
	color: #ffffff;
    font-family: "Parangon 530 C";
    font-size: 48px;
    font-weight: 400;
    line-height: 72px;
    text-align: center;
    padding-top: 130px;    
    margin: 0 auto;    
    letter-spacing: 2.4px;
    width: 80%;
}

.HeaderMenu > p {
	padding-top: 52px;	
    color: #ffffff;
    font-family: "PT Sans - Caption";
    font-size: 24px;    
    line-height: 36px;
    width: 60%;
    /* Text style for "Б, ольшинс" */
    letter-spacing: 1.2px;
    text-align: center;
    margin: 0 auto;
}


.headerBox {
	text-align: center;
	padding-top: 68px;
	padding-bottom: 110px;
}

.BoxItem {
	display: inline-block;
	margin: 0 20px;
	min-width: 220px;
	background: url("../images/orderheder.png") no-repeat center;
	background-size: 100% 100% ;    
}

.BoxItem > div {	
	color: #ffffff;
	font-size: 40px;	
	letter-spacing: 2.4px;	
}

.BoxItemText > p {
	font-size: 18px;
	letter-spacing: 1.5px;
	font-family: "Arial";
			
}

.BoxItemText {
	padding: 30px 15px;
	position: relative;
}

.LogoBox1, .LogoBox2, .LogoBox3 {
	position: absolute;
	top: -21px;	 
}

.LogoBox1 {	
	right: 42%;
}
.LogoBox2 {	
	right: 41%;
}
.LogoBox3 {	
	right: 45%;
}

/* Navigation */


.menuItem {
	padding: 35px 60px;
	border-bottom: 1.5px solid #85858E;
}

.menuItem a {	
	padding: 0 17px;
	text-decoration: none;	
	color: #000000;	
	font-size: 22px;	
	letter-spacing: 1.5px;
}

nav {
	text-align: right;
	background-color: #ffffff;
} 

nav a:hover {
	color: #f6ae48;	
}

/* article */

.article {
	padding: 150px 50px;

}

.articleContent1 {
	padding-bottom: 100px;
	display: flex;
	align-items: center;

}

.articleContent1 h2 {
	display: inline-block;
	color: #000000;
	font-size: 40px;
	letter-spacing: 2.4px;
	margin-right: 20%; 	
	
}

.articleContent1 p {
	background: url("../images/we.png") no-repeat;
	display: inline-block;
	width: 750px;	
	font-size: 20px;
	line-height: 30px;	
	letter-spacing: 1.2px;	
	padding: 60px 0 60px 60px;
}

.start, .promotion, .support{
	vertical-align: top;
	padding: 10px 0;
	margin: 0 1.2%;
	font-size: 15px;	
	line-height: 25.57px;
	letter-spacing: 0.9px;
	width: 30%;
	display: inline-block;
}

.start {
	margin-left: 0;

}

.promotion img{	
	padding-bottom: 12px; 
}
.support img:first-child{	
	padding-bottom: 12px; 
}

.support {
	background-color: #f6ae48;
	color: #ffffff;
	padding: 10px 30px 10px 30px;
	margin: 0;
}

.arrow {	
	margin-top: 20px;
}

.arrow p {
	display: inline-block;
	border: 2px solid #ffffff;
}

.arrow img {
	display: inline-block;
	vertical-align: middle;
	margin-left: 60%;    
}

/* section */

.section {	
    min-height: 500px;
}

.sectionContent div p {
	text-align: center;
	color: #ffffff;
}
	
	/* ContentPart1 */

.ContentPart1 {	
    background-color:rgba(47, 34, 164, 0.49);
    
}    

.sectionBackground {
	background: url("../images/header2.jpg") center;    
    background-size: cover;
	
}

.ContentPart1 :first-child {
	padding-top: 150px;
	padding-bottom: 45px;
	font-size: 50px;
	font-weight: 700;	
	letter-spacing: 2.5px;
}

.ContentPart1 :last-child {
	padding-bottom: 160px;
	width: 68%;
	font-size: 24px;	
	line-height: 36px;	
	letter-spacing: 1.2px;
	margin: 0 auto;
}

	/* ContentPart2 */


.ContentPart2 {
	margin-top: 200px;	
	position: relative;
}

.workingOut {
	
    
	background-color: #f6ae48;
	position: absolute;
	width: 45%;
	height: 20rem;
	top: -230px;
	z-index: 0;
	
	    
}

.gear {
	background: url("../images/gear1.png") no-repeat;
	height: 100%;

}

.workingOut h2 {
	padding-top: 15%;
	font-size: 40px;
	letter-spacing: 15.2px;
	color: #ffffff;
	text-align: center;	
}


.workingOutDetails {	
	padding-bottom: 150px; /* !!!!!!!!!!!!!  */
	text-align: center;

}


.landing, .web, .internet {
	display: inline-block;
	width: 250px;
	margin: 0 10px;
	position: relative;
	z-index: 2;
	
}

.landing {
	background: url("../images/lending.jpg") center;    
    background-size: cover;
}

.web {
	background: url("../images/web.jpg") center;    
    background-size: cover;
}

.internet {
	background: url("../images/shop.jpg") center;    
    background-size: cover;
}

.workingOutBackground {
	background-color: rgba(0, 0, 0, 0.7);
}

.workingOutBackground:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

.workingOutBackground h3 {
	color: #ffffff;	
	font-size: 30px;
	margin: 0 20px 0 20px;
	padding-top: 40px;
	text-align: left;    
	border-bottom: 2px solid #ffffff;
	min-height: 75px;	
	
}

.workingOutBackground h3:hover {
	color: #00b9e7;
}

	/* arrowSection */ 

.landing p{
	border: 3px solid #00b9e7;
}

.web p{
	border: 3px solid #ffcb00;
}

.internet p{
	border: 3px solid #66bf0d;
}


.arrowSection{
	text-align: left;
	padding: 20px 20px 20px 20px;
}

.arrowSection p {
	display: inline-block;	
}


.arrowSection img {
	display: inline-block;
	vertical-align: middle;
	margin-left: 40%;
	   
}


	/* the first in the search */

.firstSearch{
	text-align: center;
	
}

.firstSearch div {
	display: inline-block;
	vertical-align: middle;

}

.firstSearch div p {
	text-align: left;
	width: 340px;	
	font-size: 13pt;
	color: black;
	
}

.firstSearch div img {
	display: block;
	
}







	/* Button Up */ 

.buttonUp {
    display: none;
       
  
}

.buttonActive {
	display: block;
  	position: fixed;
    z-index: 100;
    right: 8vh;
    top: 88vh;    
    border-radius: 50px;
    padding: 15px;
    background-color: green;     
}


	














































