* {
	margin: 0;
	padding: 0;
}
.wrapper {		
	margin: 0 10px;
}


/* Header */


header {
    
    background: url("../images/header.jpg") center;    
    background-size: cover;
}

.HeaderMenu {
	background-color:rgba(47, 34, 164, 0.49);
	opacity: 0.88;

}
h1 {
	color: #ffffff;
    font-family: "Parangon 530 C";
    font-size: 48px;
    font-weight: 400;
    line-height: 72px;
    text-align: center;
    padding-top: 130px;    
    margin: 0 auto;    
    letter-spacing: 2.4px;
    width: 80%;
}

.HeaderMenu > p {
	padding-top: 52px;	
    color: #ffffff;
    font-family: "PT Sans - Caption";
    font-size: 24px;    
    line-height: 36px;
    width: 60%;
    /* Text style for "Б, ольшинс" */
    letter-spacing: 1.2px;
    text-align: center;
    margin: 0 auto;
}


.headerBox {
	text-align: center;
	padding-top: 68px;
	padding-bottom: 110px;
}

.BoxItem {
	display: inline-block;
	margin: 0 20px;
	min-width: 220px;
	background: url("../images/orderheder.png") no-repeat center;
	background-size: 100% 100% ;    
}

.BoxItem > div {	
	color: #ffffff;
	font-size: 40px;	
	letter-spacing: 2.4px;	
}

.BoxItemText > p {
	font-size: 18px;
	letter-spacing: 1.5px;
	font-family: "Arial";
			
}

.BoxItemText {
	padding: 30px 15px;
	position: relative;
}

.LogoBox1, .LogoBox2, .LogoBox3 {
	position: absolute;
	top: -21px;	 
}

.LogoBox1 {	
	right: 42%;
}
.LogoBox2 {	
	right: 41%;
}
.LogoBox3 {	
	right: 45%;
}

/* Navigation */


.menuItem {
	padding: 35px 60px;
	border-bottom: 1.5px solid #85858E;
}

.menuItem a {	
	padding: 0 17px;
	text-decoration: none;	
	color: #000000;	
	font-size: 22px;	
	letter-spacing: 1.5px;
}

nav {
	text-align: right;
	background-color: #ffffff;
} 

nav a:hover {
	color: #f6ae48;	
}

/* article */

.article {
	padding: 150px 50px;

}

.articleContent1 {
	padding-bottom: 100px;
	display: flex;
	align-items: center;

}

.articleContent1 h2 {
	display: inline-block;
	color: #000000;
	font-size: 40px;
	letter-spacing: 2.4px;
	margin-right: 20%; 	
	
}

.articleContent1 p {
	background: url("../images/we.png") no-repeat;
	display: inline-block;
	width: 750px;	
	font-size: 20px;
	line-height: 30px;	
	letter-spacing: 1.2px;	
	padding: 60px 0 60px 60px;
}

.start, .promotion, .support{
	vertical-align: top;
	padding: 10px 0;
	margin: 0 1.2%;
	font-size: 15px;	
	line-height: 25.57px;
	letter-spacing: 0.9px;
	width: 30%;
	display: inline-block;
}

.start {
	margin-left: 0;

}

.promotion img{	
	padding-bottom: 12px; 
}
.support img:first-child{	
	padding-bottom: 12px; 
}

.support {
	background-color: #f6ae48;
	color: #ffffff;
	padding: 10px 30px 10px 30px;
	margin: 0;
}

.arrow {	
	margin-top: 20px;
}

.arrow p {
	display: inline-block;
	border: 2px solid #ffffff;
}

.arrow img {
	display: inline-block;
	vertical-align: middle;
	margin-left: 60%;    
}

/* section Part1*/

.sectionPart1 {	
    min-height: 500px;
}

.sectionContent div p {
	text-align: center;
	color: #ffffff;
}
	
	/* ContentPart1 */

.ContentPart1 {	
    background-color:rgba(47, 34, 164, 0.49);
    
}    

.sectionBackground {
	background: url("../images/header2.jpg") center;    
    background-size: cover;
	
}

.ContentPart1 :first-child {
	padding-top: 150px;
	padding-bottom: 45px;
	font-size: 50px;
	font-weight: 700;	
	letter-spacing: 2.5px;
}

.ContentPart1 :last-child {
	padding-bottom: 160px;
	width: 68%;
	font-size: 24px;	
	line-height: 36px;	
	letter-spacing: 1.2px;
	margin: 0 auto;
}

	/* ContentPart2 */


.ContentPart2 {
	margin-top: 200px;	
	position: relative;
}

.workingOut {
	
    
	background-color: #f6ae48;
	position: absolute;
	width: 45%;
	height: 20rem;
	top: -230px;
	z-index: 0;
	
	    
}

.gear {
	background: url("../images/gear1.png") no-repeat;
	height: 100%;

}

.workingOut h2 {
	padding-top: 15%;
	font-size: 40px;
	letter-spacing: 15.2px;
	color: #ffffff;
	text-align: center;	
}


.workingOutDetails {	
	padding-bottom: 150px; /* !!!!!!!!!!!!!  */
	text-align: center;

}


.landing, .web, .internet {
	display: inline-block;
	width: 220px;
	margin: 0 10px;
	position: relative;
	z-index: 2;
	
}

.landing {
	background: url("../images/lending.jpg") center;    
    background-size: cover;
}

.web {
	background: url("../images/web.jpg") center;    
    background-size: cover;
}

.internet {
	background: url("../images/shop.jpg") center;    
    background-size: cover;
}

.workingOutBackground {
	background-color: rgba(0, 0, 0, 0.7);
}

.workingOutBackground:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

.workingOutBackground h3 {
	color: #ffffff;	
	font-size: 30px;
	margin: 0 20px 0 20px;
	padding-top: 40px;
	text-align: left;    
	border-bottom: 2px solid #ffffff;
	min-height: 75px;	
	
}

.workingOutBackground h3:hover {
	color: #00b9e7;
}

	/* arrowSection */ 

.landing p{
	border: 3px solid #00b9e7;
}

.web p{
	border: 3px solid #ffcb00;
}

.internet p{
	border: 3px solid #66bf0d;
}


.arrowSection{
	text-align: left;
	padding: 20px 20px 20px 20px;
}

.arrowSection p {
	display: inline-block;	
}


.arrowSection img {
	display: inline-block;
	vertical-align: middle;
	margin-left: 30%;
	   
}


	/* the first in the search */

.firstSearch{
	margin-bottom: 200px;
	
}

.firstSearch div {
	display: inline-block;
	vertical-align: middle;

}

.firstSearch div p {
	text-align: left;
	width: 340px;	
	font-size: 13pt;
	color: black;
	
}

.firstSearch div img {
	display: block;

	
}


.searchText {
	margin: 0 60px 0 18.5%;		
	
	
}

.searchText :first-child {	
	background: url("../images/fontext.png") no-repeat;	
	background-size: contain;
	font-size: 20pt;	
	padding: 5px 60px 5px 50px;
	font-weight: normal;
	font-weight:bold

}

.searchText :last-child {
	line-height: 32px;
	padding: 0 0 0 50px;

}

.google {
	padding-bottom: 25px; 
}



/* Last Projekt */ 

.lastProjekt {
	background-color: #303263; 
	min-height: 500px;
	text-align: center;
	margin-bottom: 150px;
	
}

.lastProjekt h3{
	background: url("../images/lastprojekt.png") no-repeat;
	background-size: 100%; 
	display: inline-block;
	padding: 12px 10%;
	margin: 15px 0;
	font-size: 22px;
	color: #ffffff;

	
}


.imageItem {
	display: inline-block;
	position: relative;
	
}

.imageItem img {
	border: 2px solid #ffffff;
	border-radius: 5px;
	
	

}

.imageItem1 {
	width: 550px;
	height: 300px;
	
}



.imageItem2 {
	width: 271px;
	height: 250px;
	
}




/*Fone and Text Active Project */

.after1 {
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 550px;
	height: 300px;
    display: none;
    color: #FFF;
}

.after1  div {
	padding-top: 20%;
	font-size: 30px;
	font-weight:bold


}

.after2 {
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 271px;
	height: 250px;
    display: none;
    color: #FFF;
}

.after2  div {
	padding-top: 35%;
	font-size: 30px;
	font-weight:bold


}

.imageItem:hover .after1 {
    display: block;
    background: url("../images/fonprogect.png") no-repeat;
   	background-size: cover;
   	border: 2px solid #fffff1;
   	border-radius: 5px;
}



.imageItem:hover .after2 {
    display: block;
    background: url("../images/fonprogect.png") no-repeat;
   	background-size: cover;
   	border: 2px solid #fffff1;
   	border-radius: 5px;
}


/*Button moreProjekt */ 

.moreProjekt {
	padding: 10px;
	border-radius: 15px;
	margin: 15px
}

.moreProjekt a{
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.moreProjekt:hover {
	background: url("../images/fonprogect.png");
   
}


/* section Part2*/
	
	/* Part1*/
.sectionPart2 {
	margin-bottom: 200px;
}

.adaptability {
	text-align: right;
	margin-bottom: 200px;
}

.adaptability div {
	display: inline-block;
}


.adaptabilityText {
	width: 31%;
	text-align: left;
	margin-right: 8%;

}

.adaptabilityText :first-child {	
	background: url("../images/adaptability.png") no-repeat;	
	background-size: contain;
	font-size: 20pt;	
	padding: 5px 0 5px 30px;
	font-weight: normal;
	font-weight:bold;
	

}

.adaptabilityText p {
	line-height: 32px;
	padding: 0 0 0 30px;

	
}


.imgComputers :nth-child(1) {
	width: 70px;
	margin-right: 40px;
}

.imgComputers :nth-child(2) {
	width: 150px;
	margin-right: 20px;
}

.imgComputers :nth-child(3) {
	width: 300px;

}

	/* Part2 */
.tradeInFone {
	background: url("../images/tradein.png") center;	 
    background-size: 100%;
    margin-bottom: 100px; 
}

.tradeIn {	
    background: url("../images/tradefone.png") center;	
	text-align: center;
}

.tradeIn > p{
	font-size: 35pt;
	color: rgba(255, 255, 255, 255);
	padding: 40px 0 60px 0; 
}

.program, .progresWork, .conditions{
	width: 300px;
	display: inline-block;
	text-align: left;
	color: rgba(255, 255, 255, 255);
	margin: 0 20px;	
	vertical-align: top;
	font-size: 15px;
}

.progresWorkTitle, .conditionsTitle, .programTitle {
	font-weight: bold;
	font-size: 22px;
	padding: 23px 0;
	display: inline-block;
	vertical-align: top;
	
}

.progresWorkBox {
	margin-left: -30px;
}

.tradeIn button {
	display: inline;
	padding: 10px 12px;
	margin: 20px 0 40px 0;
	border-radius: 15px;
}

.rateSite:hover {
	background-color: #f6ae48; 
}

.rateSite a{ 
	text-decoration: none;
}

	/* Part3 */

.Caring {
	text-align: center;

	
}

.Caring div {
	display: inline-block;
}


.CaringText {
	width: 31%;
	text-align: left;
	margin-right: 8%;
	vertical-align: top;
	font-size: 13pt;
}

.CaringText :first-child {	
	background: url("../images/becareful.png") no-repeat;	
	background-size: contain;
	font-size: 20pt;	
	padding: 10px 0 10px 30px;	
	font-weight:bold;
	

}

.CaringText p {
	line-height: 32px;
	padding: 0 0 0 30px;


	
}
.imgCaring :nth-child(1) {
	width: 80%;
	
}


/* Footer */

.footer {
	background: url("../images/footer.png") center;	 
    background-size: 100%;
       
}

.footerFone {	
    background-color:rgba(47, 34, 164, 0.49); 
	text-align: center; 
}

.footerText {
	width: 300px;
	display: inline-block;
}

.table {
	width: 400px;
	height: 200px;
	background-color: green;
	display: inline-block;
}

.end {
	background-color: #f6ae48;
	

}

.end p {
	padding: 30px 0;
}




	/* Button Up */ 

.buttonUp {
    display: none;
       
  
}

.buttonActive {
	display: block;
  	position: fixed;
    z-index: 100;
    right: 8vh;
    top: 88vh;    
    border-radius: 50px;
    padding: 15px;
    background-color: green;     
}


	














































